{{#if addNewReview}}
<h2>Reply:</h2>
<hr>

<form>
  <div class="form-group">
    <label for="name">Name:</label>
    {{input value=name  class="form-control" id="name"}}
  </div>

  <div class="form-group">
    <label for="comment">Comment:</label>
    {{textarea input value=comment class="form-control" id="comment"}}
  </div>

  <div class="form-group">
    <label for="score">Score:</label>
    {{input value=score class="form-control" id="score"}}
  </div>

  <button class="btn" {{action 'saveReview'}}>Submit</button>
</form>
{{else}}
  <button class="btn btn-primary" {{action 'reviewForm'}}>Comment</button>
  {{/if}}
