{{#if addNewMovie}}
  <h3>New Movie:</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title:</label>
        {{input value=title class="form-control" id="title"}}
      </div>

      <div class="form-group">
        <label for="date">Released:</label>
        {{input value=date class="form-control" id="date"}}
      </div>

      <div class="form-group">
        <label for="rating">Rated:</label>
        {{input value=rating class="form-control" id="rating"}}
      </div>

      <div class="form-group">
        <label for="genre">Genre:</label>
        {{input value=genre class="form-control" id="genre"}}
      </div>

      <div class="form-group">
        <label for="poster">Poster:</label>
        {{input value=poster class="form-control" id="poster"}}
      </div>

      <button type="button" class="btn" {{action 'saveMovie'}}>Submit</button>
    </form>
  </div>
  {{else}}
    <button class="btn" {{action 'movieFormShow'}}>Add Movie</button>
  {{/if}}
